@reference "tailwindcss";

.header {
    @apply fixed bottom-6 left-1/2 transform -translate-x-1/2
        flex justify-center w-full
        max-w-7xl px-4 z-50
        transition-all duration-300 ease-in-out h-auto
    ;

    backdrop-filter: blur(2px);

}

@keyframes shimmer {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.header .link {
    @apply text-lg font-bold text-gray-900 hover:text-blue-950 transition-colors;

    &.active {
        background: linear-gradient(to right, hsl(300, 100%, 30%), hsl(0, 100%, 30%), hsl(60, 100%, 30%), hsl(120, 100%, 30%), hsl(180, 100%, 30%), hsl(240, 100%, 30%), hsl(300, 100%, 30%), hsl(0, 100%, 30%), hsl(60, 100%, 30%)) 0 0 / 1000%;
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        animation: shimmer 5s linear infinite alternate;
    }
}

.dark {
    .header .link.active {
        background: linear-gradient(to right, hsl(300, 100%, 70%), hsl(0, 100%, 70%), hsl(60, 100%, 70%), hsl(120, 100%, 70%), hsl(180, 100%, 70%), hsl(240, 100%, 70%), hsl(300, 100%, 70%), hsl(0, 100%, 70%), hsl(60, 100%, 70%)) 0 0 / 1000%;
        -webkit-background-clip: text;
        background-clip: text;
    }
}

.header__wrapper {
    @apply
        px-6 sm:px-8 py-6 relative max-w-7xl w-full mx-auto
        flex flex-col md:flex-row items-center md:justify-between md:space-x-8
        rounded-2xl z-50 bg-white/70
        border-3 border-gray-600
    ;
}

.dark .header__wrapper {
    @apply bg-black/70 border-gray-400;
}

.dark .header .link {
    @apply text-white hover:text-blue-100;
}

.header__control {
    @apply w-full md:w-auto flex items-center justify-between md:space-x-8;
}

.header__menu {
    @apply 
        flex flex-col md:flex-row items-center
        space-y-8 md:space-y-0 md:space-x-8
        /* absolute md:static
        bottom-0 left-0 */
        translate-y-0
        w-full md:w-auto
        transition-all duration-300 ease-in-out
        max-h-0 md:max-h-none
        overflow-hidden
    ;

    &.open {
        @apply max-h-screen md:max-h-none p-8;
    }
}

.header__menu__toggle {
    @apply md:hidden;
}