@reference "tailwindcss";;


/* Curseur personnalisé */
.custom-cursor {
  @apply fixed;

  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--foreground);
  mix-blend-mode: difference;
  pointer-events: none;
  transform-origin: left top;
  transform: scale(0.2) translate(-50%, -50%);
  transition: transform 0.2s ease-out;
  z-index: 9998;

  &.moving {
    transform: scale(1) translate(-50%, -50%);
  }

  &.hover {
    transform: scale(0) translate(-50%, -50%);
  }
}

.cursor-inner {
  @apply fixed;
  pointer-events: none;
  background: var(--foreground);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  mix-blend-mode: difference;
  transform-origin: left top;
  transform: scale(0) translateX(-50%) translateY(-50%);
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  z-index: 9999;
  
  &.moving{
    transform: scale(1) translateX(-50%) translateY(-50%);
  }

  &.hover {
    animation: cursor-pulse 1s infinite;
  }
}

@keyframes cursor-pulse {
  0% {
    transform: scale(1) translate(-50%, -50%);
  }
  50% {
    transform: scale(1.5) translate(-50%, -50%);
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
  }
}