@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --white: #FEFEFE;
  --black: #010101;
  --background: var(--white);
  --foreground: var(--black);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--black);
    --foreground: var(--white);
  }
}


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  @apply min-h-screen flex flex-col justify-between;
  background-color: var(--foreground);
  color: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  cursor: none;
}

.dark body {
  background-color: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-sans);
  font-weight: bold;
  color: var(--background);
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: var(--foreground);
}

body, h1, h2, h3, h4, h5, h6, p, a, button {
  transition: background-color 1s ease, color 1s ease;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.875rem;
}

h6 {
  font-size: 0.75rem;
}

p {
  font-size: 1rem;
  line-height: 1.5;
}

a {
  @apply text-blue-900 hover:underline cursor-pointer;
}

.dark a {
  @apply text-blue-300;
}

button {
  @apply cursor-pointer;
}

.content-holder {
  @apply grow flex flex-col items-center justify-center p-8;
}

.background-waves {
  @apply fixed top-0 left-0 w-full h-full -z-10 opacity-5;
}

.background-waves img {
  object-fit: cover;
}