@reference "tailwindcss";


.footer {
    @apply bg-linear-to-b from-sky-100/60 via-sky-100/60 to-sky-50/40 text-black p-6 pb-40;
    transition: background-color 1s ease, color 1s ease;
}

.dark .footer {
    @apply bg-linear-to-b from-slate-950/80 via-slate-950/80 to-slate-900/60 text-white;
}
