@reference "tailwindcss";;

@layer components {
    .footer {
        @apply dark:bg-gradient-to-b from-gray-900 via-gray-900 to-gray-800 dark:text-white
            bg-gradient-to-b from-gray-500 via-gray-500 to-gray-200
            text-black p-6 pb-40;
    }
    
    .dark .footer {
        @apply bg-gradient-to-b from-gray-900 via-gray-900 to-gray-800 text-white;
    }
}